* {
    margin:0;
    padding: 0;
}

:root{
    --dark-blue:#0c0245;
    --white:#fff;
    --black:#000;
    --critical: #db0202;
    --success:#05e33c;
    --surface:#adadad;
    --secondary:#808080;

    --sm:14px;
    --md:16px;
    --lg:18px;
}
